*{margin: 0; padding: 0; box-sizing: content-box; font-family: 'Anton', sans-serif; color: black;}
html, body{min-height: 100%;}
body{background-color: black;}
::selection{background:rgba(0,0,0,0); color: white;}
#root{
  position: absolute;
  min-height: 100%;
  width: 100%;
}
.topDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
svg{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  fill: gold;
  transition: 0.5s fill;
}
.title{
  z-index: 2;
  position: absolute;
  width: 100%;
  text-align: center;
}
.title h1{
  padding: 5px;
  font-size: 48px;
}
.partImages{
  position: absolute;
  left: 5%;
  top: 15%;
  width: 40%;
  height: 300px;
  z-index: 2;
  border: 2px double black;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: red;
}
.container{
  position: absolute;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.5s top ease-in-out;
  z-index: 4;
  overflow: visible;
}
.backgroundWallpaper{
  position: relative;
  height: 100%;
  width: 100%;
}

#i0{
  background: url('./images/stardustcrusaders.jpg');
}
#i1{
  background: url('./images/stardustcrusaders1.jpg');
}
#i2{
  background: url('./images/stardustcrusaders2.jpg');
}
#i3{
  background: url('./images/stardustcrusaders3.jpg');
}
#i0, #i1, #i2, #i3{
  background-size: cover;
}
.previousButton{
  position: absolute;
  width: 50px;
  height: 100px;
  top: 15%;
  left: 5px;
  background: url('./images/standarrow.png');
  background-size: 100% 100%;
  border: none;
  z-index: 10;
  transform: rotate(180deg);
}
.nextButton{
  position: absolute;
  width: 50px;
  height: 100px;
  bottom: 40%;
  left: 5px;
  background: url('./images/standarrow.png');
  background-size: 100% 100%;
  border: none;
  z-index: 10;
}
.previousButton:focus, .nextButton:focus{
  outline: none;
}
.image{
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 30%;
  right: 0px;
  top: 0px;
  background: url('./images/DIO.png');
  background-size: cover;
}